{% extends 'account/layout.html' %}

{% block titel %}Счет{% endblock%}
{% block option %}<p class="center-top ">Счет</p>{% endblock%}
{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <p class="centered-text">{{ account.invoice_size }} берюлек</p>
    </form>
        <div class="buttons">
            <a class="a-text submit-button" href="{% url 'payman' %}">Пополнить баланс</a>
            <a class="a-text submit-button" href="{% url 'change' %}">Оплатить</a>
            <a class="a-text submit-button" href="{% url 'service' %}">Оформить услугу</a>
        </div>
    </div>
{% endblock%}